#!/bin/sh
ALSA_ENABLED=$(sed -n "/.*name.*\"alsa\"/{n;p}" /etc/mpd.conf)
FIFO_ENABLED=$(sed -n "/.*type.*\"fifo\"/{n;p}" /etc/mpd.conf)

case $ALSA_ENABLED in
 *enabled*) echo "ALSA disabled" ;;
 *) sed -i -- 's|.*name.*alsa.*|&\n\ \ \ \ \ \ \ \ \ \ \ \ \ \ \ \ enabled\ \ \ \ \ \ \ \ \ "no"|g' /etc/mpd.conf ;;
esac

case $FIFO_ENABLED in
 *enabled*no*) sed -i -- '/.*type.*fifo.*/!b;n;c\ \ \ \ enabled\ \ \ \ \ \ \ \ \ "yes"' /etc/mpd.conf ;;
 *) echo "FIFO already enabled" ;;
esac

sed -i -- 's/.*format.*/\ \ \ \ format\ \ \ \ \ \ \ \ \ \ "${SAMPLE_RATE}:${BIT_DEPTH}:${CHANNELS}"/g' /etc/mpd.conf